.base{
    background-color: transparent;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 13px;
    font-family:  'Gill Sans';
    margin-right: 5px;
}

#base {
    border-color: rgb(196, 196, 196);
    color: rgb(196, 196, 196);
}

#hover{
    border-color: rgb(113, 158, 172);
    color: rgb(113, 158, 172);
}

#click{
    background-color: rgb(38, 110, 151);
    color: rgb(187, 187, 187);
}

#left{
    float: left;
}

#dropDownMenu {
    z-index: 1;
    font-family:  'Gill Sans';
    border-radius: 1px;
    margin-top: 7px;
    width: 200px;
    position: absolute;
    background-color: transparent;
}


.drpBase{
    border: 1px solid;
    border-color:rgb(113, 158, 172);
    background-color: transparent;
    font-size: 13px;
    font-family:  'Gill Sans';
    margin-right: 5px;
    width:100%;
}
.drpBaseHidden{
    pointer-events: none;
    opacity: 0;
    border: 1px solid;
    border-color: transparent;
    background-color: transparent;
    font-size: 13px;
    font-family:  'Gill Sans';
    margin-right: 5px;
    width:100%;
}
#dropBase{
    z-index: 2;
    border: 0px;
    color: rgb(40, 40, 40);
    background-color: rgb(190, 190, 190);
    width: 90%;
    padding-left: 20px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#drpBaseHover{
    z-index: 2;
    border: 0px;
    color: rgb(87, 87, 87);
    background-color: rgb(209, 209, 209);
    width: 90%;
    padding-left: 20px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#drpBaseClick{
    z-index: 2;
    border: 0px;
    color: rgb(235, 235, 235);
    background-color: rgb(113, 158, 172);
    width: 90%;
    padding-left: 20px;
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#hidden{
    opacity: 0;
}