body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-user-select: none;
  -webkit-app-region: "no-drag";
}

#close{
  margin-top: 7px;
  margin-left: 16px;
  position:absolute;
}
#max{
  margin-top: 7px;
  margin-left: 38px;
  position:absolute;
}
#min{
  margin-top: 7px;
  margin-left: 60px;
  position:absolute;
}